Repository sebastian-software/readable-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint

Added docs for available commands.
  src/binary.js
Due: eslint --fix

Release 0.2.0
  package.json
Due: none

Added pretty formatting for eslint
  package-lock.json
  package.json
  src/index.js
Due: eslint --fix

Release 0.2.1
  package.json
Due: none

Minor fix
  src/index.js
Due: eslint --fix

Release 0.2.2
  package.json
Due: none

Minor tweaks
  src/index.js
Due: eslint --fix

Release 0.2.3
  package.json
Due: none

Some fine tuning with eslint arguments
  src/index.js
Due: eslint --fix

Release 0.2.4
  package.json
Due: none

Updated deps
  .prettierrc.yml
  package-lock.json
  package.json
Due: none

Minor formatting fixes
  src/binary.js
  src/index.js
Due: eslint --fix

Worked on pretty vs fix mode
  src/binary.js
  src/index.js
Due: eslint --fix

Minor cleanups
  src/binary.js
  src/index.js
Due: eslint --fix

Added missing help text + default action
  src/binary.js
Due: eslint --fix

Fixed for missing --write flag on prettier
  src/index.js
Due: eslint --fix

Added support for empty file results from git lookup
  src/index.js
Due: eslint --fix

Minor corrections
  src/index.js
Due: eslint --fix

Added missing deps
  src/index.js
Due: eslint --fix

Minor formatting
  src/binary.js
Due: eslint --fix

Added more types to lint-staged
  .lintstagedrc.yml
Due: none

Added keywords + more ideas for lint-staged
  .lintstagedrc.yml
  package.json
Due: none

Added missing dep svgo
  package-lock.json
  package.json
Due: none

Added jest based eslint runner
  jest.config.js
  package-lock.json
  package.json
Due: eslint --fix

Finished jest runner for eslint
  jest.config.eslint.js
  jest.config.js
  src/binary.js
  src/index.js
Due: eslint --fix

Added test handling for style files using jest runner
  jest.config.stylelint.js
  package-lock.json
  package.json
  src/index.js
Due: eslint --fix

Added some test files
  test/test.css
  test/test.js
Due: eslint --fix, stylelint

Fixed stylelint config + Worked on test suite
  .stylelintrc.yml
  jest.config.eslint.js
  jest.config.stylelint.js
Due: eslint --fix

Minor fine tuning of internal API
  jest.config.eslint.js
  jest.config.stylelint.js
  src/index.js
Due: eslint --fix

Don't use jest for actual testing in here.
  package.json
Due: none

Release 0.3.0
  package.json
Due: none

Added manual app-root-dir based rootDir for jest... to fix lookup when tool is installed.
  jest.config.eslint.js
  jest.config.stylelint.js
  package-lock.json
Due: eslint --fix

Release 0.3.1
  package.json
Due: none

Updated deps
  package-lock.json
  package.json
Due: none

Reworked jest config to be more efficient + using jest API instead of manual execution.
  jest.config.eslint.js
  src/index.js
Due: eslint --fix

Added jest-based style linter
  jest.config.stylelint.js
  src/binary.js
  src/index.js
Due: eslint --fix

Release 0.3.2
  package.json
Due: none

Minor adjustments
  .lintstagedrc.yml
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,jsx}
  stylelint: any of: **/*.{css,scss,pcss}
