Repository sebastian-software/readable-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write, yaspeller --format markdown, svgo

Updated deps
  package-lock.json
  package.json
Due: prettier --write

Release 0.3.3
  package.json
Due: prettier --write

Worked on markdown support.
  src/index.js
  test/test.md
Due: eslint --fix, prettier --write, yaspeller --format markdown

Added pretty job for doc files
  src/binary.js
  src/index.js
Due: eslint --fix

Added formatting for json files
  src/binary.js
  src/index.js
Due: eslint --fix

Synced prettier-config
  .prettierrc.yml
Due: none

Release 0.4.0
  package.json
Due: prettier --write

Updated logo
  readme.md
Due: prettier --write, yaspeller --format markdown

Path conditions:
  eslint --fix: any of: **/*.{js,mjs,jsx}
  stylelint --fix: any of: **/*.{css,pcss,sss,scss,sass,less}
  prettier --write: (any of: **/*.{json,gql,graphql}) or (any of: **/*.{md,markdown})
  yaspeller --format markdown: any of: **/*.{md,markdown}
  svgo: any of: **/*.svg
